@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg: 0deg 0% 98%;
		--theme-link: 172deg 18% 41%;
		--theme-text: 203deg 11% 15%;
		--theme-accent: 351deg 66% 48%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg: 210deg 6% 12%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 189deg 76% 64%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
	}
	body code {
		background-color: rgba(173, 225, 235, 0.333);
		font-family:  monospace;
		color: #002c19;
		padding: 2px 4px;
	  }

	html {
		@apply scroll-smooth;
	}
	html {
		font-size: 25px; /* or any size you prefer */
	  }

	body {
		@apply mx-auto flex min-h-screen max-w-4xl flex-col bg-bgColor px-10 pt-10 text-sm font-normal text-textColor antialiased;
	
	}

	@keyframes rainbow {
		0% { background-position: 0% 50%; }
		50% { background-position: 100% 50%; }
		100% { background-position: 0% 50%; }
	}

	.rainbow-text {
		background: linear-gradient(to right, #FA8072, #a855f7, #3b82f6, #eab308);
		background-size: 200% 200%;
		color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		animation: rainbow 5s linear infinite;
	}
	
}
 /* Dark mode colors. */
:root {
	--sl-color-accent-low: #002c19;
	--sl-color-accent: #007e50;
	--sl-color-accent-high: #a5d6b9;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #edeeee;
	--sl-color-gray-2: #c1c2c3;
	--sl-color-gray-3: #8a8c8d;
	--sl-color-gray-4: #57585a;
	--sl-color-gray-5: #37383a;
	--sl-color-gray-6: #262728;
	--sl-color-black: #181819;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #bde1cb;
	--sl-color-accent: #00784b;
	--sl-color-accent-high: #003d24;
	--sl-color-white: #181819;
	--sl-color-gray-1: #262728;
	--sl-color-gray-2: #37383a;
	--sl-color-gray-3: #57585a;
	--sl-color-gray-4: #8a8c8d;
	--sl-color-gray-5: #c1c2c3;
	--sl-color-gray-6: #edeeee;
	--sl-color-gray-7: #f6f6f7;
	--sl-color-black: #ffffff;
}