---

import PageLayout from "@/layouts/Base.astro";

//import picture from "src/pages/pictures/IMG2360.jpg";

const meta = {
	description: "Who am I? Let's discover it.",
	title: "CV",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title"></h1>
		<section class="mt-0git  flex flex-col sm:flex-row gap-8">
			<img 
				src=/pictures/IMG2360.jpg
				alt="Sergio Rios" 
				class="w-full sm:w-1/5 lg:w-1/3 rounded-lg object-cover"
			/>
			<div class="flex-1">
				<h1 class="title mb-4">About</h1>
				<p class="mb-4 text-justify">
					Educator with experience on International Baccalaureate (IB) and Cambridge (IGCSE) curricula. My praxis
is focused on the differentiation of teaching practices to fit into each student’s learning style and to ensure
quality while learning in a fun and creative way. Thus, I am committed to creating a positive and inclusive
classroom environment that fosters students' academic and personal growth while integrating innovative
methodologies. 
				</p>
				<p class="mb-4 text-justify">
					My strengths include a relentless work ethic, a passion for learning, and strong interpersonal skills that allow me to build positive relationships with colleagues and students alike. I approach each goal with dedication and enthusiasm, ensuring the best outcomes in both personal and professional endeavors.
				</p>
				<p class="mb-4 text-justify">
					I hold a Master's degree in Education from Pontificia Universidad Javeriana and a Bachelor’s degree in Teaching Modern Languages from Pontificia Universidad Javeriana. I currently study Systems engineering at Corporación Nacional de Educación Nacional CUN. 
				</p>
				<p class="mb-4 text-justify">
					Email: <a href="mailto:rioschala99@gmail.com" class="text-link">rioschala99@gmail.com</a>
				</p>
			</div>
			</section>
			
			</section>
			<section aria-label="Blog post list" class="mt-16 text-justify">
				<h1 class="title mb-4">Awards</h1>
				<!-- Working Papers Section -->
				<h4 class="text-lg font-semibold mb-4">Scholarships</h4>
				<ul class="mb-4">
					
						<p class="mt-2 ml-4 text-[0.75rem]">
							<p>
								I earned a <strong style="color:green;">Ser Pilo Paga 2</strong> scholarship for both my under and post graduate studies. It was a government-funded scholarship program in Colombia aimed at supporting high-achieving students from low-income backgrounds. This initiative provided financial assistance to cover tuition fees at accredited universities for students who demonstrated exceptional academic performance and faced economic barriers to accessing higher education. The program was designed to promote educational equity and give talented students the opportunity to pursue higher education without financial constraints.
							</p>
						</p>
					
				</ul>
		
				<!-- Work in Progress Section -->
				<h4 class="text-lg font-semibold mb-2">Recognitions</h4>
				<ul class="space-y-2">
					<p class="mt-2 ml-4 text-[0.75rem]">
						GPA: 4.81/5.0 --> <a href="https://www.javeriana.edu.co/recursosdb/813229/1098820/Acuerdo413.pdf/eabc60b9-50e9-07be-2d61-38075b142de1?t=1608516202124" class="text-link" target="_blank">Orden al mérito académico javeriano (Master's Degree)</a>
					</p>
					<p class="mt-2 ml-4 text-[0.75rem]">
						GPA: 4.53/5.0 --> <a href="https://www.javeriana.edu.co/recursosdb/813229/1098820/Acuerdo413.pdf/eabc60b9-50e9-07be-2d61-38075b142de1?t=1608516202124" class="text-link" target="_blank">Orden al mérito académico javeriano (Bachelor's Degree)</a>
					</p>
				</ul>
			</section>
		
		
			<section class="mt-16">
				<h1 class="title mb-4">Academic Experience</h1>
				<ul>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">Aug 2025 - ongoing</span>
						
						<div class="w-3/4">
							<strong class="block">IT and STEAM+ Middle School Teacher</strong>
							<span class="block"><a href="https://www.gimnasiovermont.edu.co" class="text-link" target="_blank">Gimnasio Vermont, Bogotá</a></span>
							<p class="mt-1 text-[0.75rem] text-justify">
								Facilitator and guide in the learnin process of IT skills related to media creation, remixing and creativity. In this role, I delivered sessions focused on improving the use of ICT tools to create new media and inspire students to use AI in a creative fashion.
							</p>
						</div>
					</li>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">Apr 2023 - Aug 2025</span>
						
						<div class="w-3/4">
							<strong class="block">Computer Science and Robotics Middle and High School Teacher (IGCSE 0478,IB CS Standard Level)</strong>
							<span class="block"><a href="https://colegiocolomboamericano.edu.co" class="text-link" target="_blank">Colombo American School, Bogotá</a></span>
							<p class="mt-1 text-[0.75rem] text-justify">
								Responsible to deliver effective and engaging lessons in robotics and computer science, utilizing a
variety of teaching strategies to ensure student understanding and participation. Facilitate hands-on
activities, experiments, and projects that promote practical application of concepts in programming
(Python), computer science theory, and computational thinking skills.
							</p>
						</div>
					</li>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">Aug 2022 - Apr 2023</span>
						<div class="w-3/4">
							<strong class="block">ICT Teacher Primary PYP</strong>
							<span class="block"><a href="https://www.englishschool.edu.co/en/" class="text-link" target="_blank">The English School, Bogotá</a></span>
							<p class="mt-1 text-[0.75rem] text-justify">
								In this position, I developed and implemented a new version of the curriculum to integrate
computational thinking skills into all primary section (PYP IB Programme). Moreover, I led STEAM
activities to integrate transdisciplinary learning and directed a robotics club for third and fourth grade
students. I trained teachers on new educational tools to teach and learn.
							</p>
						</div>
					</li>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">Aug 2021 - Jul 2022</span>
						<div class="w-3/4">
							<strong class="block">Teaching Assistant PYP 2nd Grade</strong>
							<span class="block"><a href="https://www.englishschool.edu.co/en/" class="text-link" target="_blank">The English School, Bogotá</a></span>
							<p class="mt-1 text-[0.75rem] text-justify">
								I planned differentiated classes for second grade students and created up-to-date materials to
complement their learning. In addition, I monitored each own student learning process and provided
tools for them to reach their maximal potential. I helped students to reflect on multiple ways to solve
problems they faced in social and academic scenarios.
							</p>
						</div>
					</li>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">Oct 2020 - Jun 2021</span>
						<div class="w-3/4">
							<strong class="block">High School English Teacher</strong>
							<span class="block"><a href="https://gimnasiobilingueobregon.edu.co" class="text-link" target="_blank">Gimnasio Bilingue Obregón, Bogotá</a></span>
							<p class="mt-1 text-[0.75rem] text-justify">
								While in school, I directed eleven graders during their last school year and mentored them in their
inquiry-led final project. Furthermore, I supported students to learn English in a fun and engaging
fashion so that they could change their perspective about the language.
							</p>
						</div>
					</li>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">Aug 2019 - May 2020</span>
						<div class="w-3/4">
							<strong class="block">English Teaching Intern MYP</strong>
							<span class="block"><a href="https://www.englishschool.edu.co/en/" class="text-link" target="_blank">The English School, Bogotá</a></span>
							<p class="mt-1 text-[0.75rem] text-justify">
								As a part of the undergraduate program, I helped and collaborated with teachers to create and plan
activities for students of the MYP IB Programme in English Literature class. I learnt about the
curriculum and how differentiation in practice makes a difference in a learning environment.
							</p>
						</div>
					</li>
				</ul>
			</section>
		
		
		
			<section class="mt-16">
				<h1 class="title mb-4">Qualifications</h1>
				<ul>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">Feb 2025 - ongoing</span>
						<div class="w-3/4">
							<strong class="block">
								<a href="https://cun.edu.co/programa-ingenieria-de-sistemas/" class="text-link" target="_blank">
									Systems Engineering: Corporación Unificada Nacional de Educación CUN.
								</a>
							</strong>
							<p class="mt-1 text-[0.75rem] text-justify">
								I decided to formally study a new carrer to create more knowledge on the topics I love when it comes to computing. I will develop more skills when it comes to database management, backend development and embedded systems. 
</p>

						</div>
					</li>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">Oct 2024</span>
						<div class="w-3/4">
							<strong class="block">Focus on Assessment: Cambridge 0478 Computer Science</strong>
						</div>
					</li>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">Oct 2024</span>
						<div class="w-3/4">
							<strong class="block">Computer Science Cat. 1: International Baccaleurate</strong>
						</div>
					</li>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">Sep 2023</span>
						<div class="w-3/4">
							<strong class="block">
								<a href="https://www.javeriana.edu.co/maestria-educacion" class="text-link" target="_blank">
									Master Degree in Education (Innovation using ICT): Pontificia Universidad Javeriana
								</a>
							</strong>
							<p class="mt-1 text-[0.75rem] text-justify">
								This postgraduate opportunity helped me to widen my understanding of education thanks to multiple
debates on the status of the matter and research-led projects. This experience provided a new
perspective on evaluation, assessment, curriculum, innovation and socioeconomical problems that
influence quality, coverage, and regulations.
</p>
<p class="mt-1 text-[0.75rem] text-justify">
To graduate, I proposed a gaming-based financial education experience using Minecraft for 8–
10-year-old students. This innovative project challenged negative perceptions about videogames and
technology in formal learning. This project was awarded honors recognition due to its contribution
to financial education field in schools.
							</p>
						</div>
					</li>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">May 2021</span>
						<div class="w-3/4">
							<strong class="block">
								<a href="https://www.javeriana.edu.co/carrera-licenciatura-en-lenguas-modernas" class="text-link" target="_blank">
									Bachelor’s degree in Teaching Modern Languages (English, French and Spanish): Pontificia Universidad Javeriana
								</a>
							</strong>							<p class="mt-1 text-[0.75rem]">
								I learnt English, French and deepened my knowledge in Spanish. Moreover, it provided
tools to understand how we learn and teach from a multidisciplinary approach (psychology, history,
and pedagogy). As a product to obtain my official license, I researched about rural teachers of English
language and their perspectives on bilingual teaching in their territories. This project was awarded honors recognition due to its impact to understand rural education in
post conflict areas in the country.
</p>
						</div>
					</li>
				</ul>
			</section>
		
	</div>
</PageLayout>
