---
import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import {Image2} from "src/pages/pictures/IMG2360.jpg";

const meta = {
	description: "Who am I? Let's discover it.",
	title: "CV",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title"></h1>
		<section class="mt-0git  flex flex-col sm:flex-row gap-8">
			<img 
				src={Image2}
				alt="Sergio Rios" 
				class="w-full sm:w-1/5 lg:w-1/3 rounded-lg object-cover"
			/>
			<div class="flex-1">
				<h1 class="title mb-4">About</h1>
				<p class="mb-4">
					Teacher
				</p>
				<p class="mb-4">
					IGCSE IB
				</p>
				<p class="mb-4">
					More info
				</p>
				<p class="mb-4">
					I hold a Master's degree in Education from Pontificia Universidad Javeriana and a Bachelor’s degree in Teaching Modern Languages from Pontificia Universidad Javeriana.
				</p>
				<p class="mb-4">
					Email: <a href="mailto:rioschala99@gmail.com" class="text-link">rioschala99@gmail.com</a>
				</p>
			</div>
			</section>
			
			</section>
			<section aria-label="Blog post list" class="mt-16">
				<h1 class="title mb-4">Awards</h1>
				<!-- Working Papers Section -->
				<h4 class="text-lg font-semibold mb-2">Scholarships</h4>
				<ul class="mb-8 space-y-4">
					
						<p class="mt-2 ml-4 text-[0.75rem]">
							SPP	
						</p>
					
				</ul>
		
				<!-- Work in Progress Section -->
				<h4 class="text-lg font-semibold mb-2">Recognitions</h4>
				<ul class="space-y-2">
					<p class="mt-2 ml-4 text-[0.75rem]">
						Best GPA	
					</p>
				</ul>
			</section>
		
		
			<section class="mt-16">
				<h1 class="title mb-4">Academic Experience</h1>
				<ul>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">Apr 2023 - ongoing</span>
						
						<div class="w-3/4">
							<strong class="block">Computer Science and Robotics Middle and High School Teacher (IGCSE 0478)</strong>
							<span class="block">Colombo American School, Bogotá</span>
							<p class="mt-1 text-[0.75rem]">
								Review
							</p>
						</div>
					</li>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">Aug 2022 - Apr 2023</span>
						<div class="w-3/4">
							<strong class="block">ICT Teacher Primary PYP</strong>
							<span class="block">The English School, Bogotá</span>
							<p class="mt-1 text-[0.75rem]">
								Review
							</p>
						</div>
					</li>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">Aug 2021 - Jul 2022</span>
						<div class="w-3/4">
							<strong class="block">Teaching Assistant PYP 2nd Grade</strong>
							<span class="block">The English School, Bogotá</span>
							<p class="mt-1 text-[0.75rem]">
								Review
							</p>
						</div>
					</li>
				</ul>
			</section>
		
		
		
			<section class="mt-16">
				<h1 class="title mb-4">Qualifications</h1>
				<ul>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">Oct 2024</span>
						<div class="w-3/4">
							<strong class="block">Focus on Assessment: Cambridge 0478 Computer Science</strong>
						</div>
					</li>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">Oct 2024</span>
						<div class="w-3/4">
							<strong class="block">Computer Science Cat. 1: International Baccaleurate</strong>
						</div>
					</li>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">Sep 2023</span>
						<div class="w-3/4">
							<strong class="block">Master Degree in Education (Innovation using ICT): Pontificia Universidad Javeriana</strong>
						</div>
					</li>
					<li class="py-4 flex items-start">
						<span class="text-sm w-1/4">May 2021</span>
						<div class="w-3/4">
							<strong class="block">Bachelor’s degree in Teaching Modern Languages (English, French and Spanish): Pontificia Universidad Javeriana</strong>
						</div>
					</li>
				</ul>
			</section>
		
	</div>
</PageLayout>
