---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://gitlab.com/rioschala",
		name: "mdi:github",
	},
{
		friendlyName: "Google Schoolar",
		link: "https://scholar.google.com/citations?user=XR2K86UAAAAJ&hl=es&oi=sra",
		name: "mdi:google",
	},
{
		friendlyName: "LinkedIn",
		link: "https://co.linkedin.com/in/licsergio",
		name: "mdi:linkedin",
	},
{
		friendlyName: "orcID",
		link: "https://orcid.org/0000-0003-2877-3788",
		name: "mdi:orcid",
	},
];
---

<div class="flex flex-wrap items-end gap-x-2">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="inline-block p-1 sm:hover:text-link"
						href={link}
						rel={`noopener noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
